  body {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }

    table {
      border-collapse: collapse;
      width: 80rem; 
    }

    th, td {
      border: 1px solid #ddd;
      padding: 15px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }

    input {
      width: 150px;  
      border: none;
      background-color: transparent;
      width: 100%;
      padding: 4px;
      font-size: 15px;
    }